<td *ngIf="student.gender == 'M'" class="gender" [style.background-image]="'url(../assets/men.svg)'">
</td>
<td *ngIf="student.gender == 'F'" class="gender" [style.background-image]="'url(../assets/female.svg)'">
</td>
<td>
  <span>{{ student.name }}</span>
</td>
<td>
  <span>{{ getAgeString(student.age.toString()) }}</span>
</td>
<td (click)="changeRegistered()" *ngIf="student.registered" class="gender" [style.background-image]="'url(../assets/check.svg)'">
</td>
<td (click)="changeRegistered()" *ngIf="!student.registered" class="gender" [style.background-image]="'url(../assets/cross.svg)'">
</td>
<td>
  <mat-form-field appearance="outline">
    <input type="number" matInput [(ngModel)]="student.age" (change)="changeAge()" />
  </mat-form-field>
</td>
<td>
  <button
    mat-raised-button
    *ngFor="let classList of student.availableClazzes"
    (click)="onClassSelected(classList.id)"
  >
    {{ classList.name }}
  </button>
</td>
