<h3>{{title}}</h3>
<body id="body">
<h1> Budget in EUR</h1>
<input type="number" class="form-control" style="width: 770px;"/>
<div>
<div class="float-child" style="height: 200px;">
    <h3>Verfügbare Produkte</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Preis</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">3</td>
            <td>Larry</td>
          </tr>
        </tbody>
      </table>
</div>
<div class="float-child" style="width: 500px;">
    <h3>Einkaufsliste</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th style="width: 100px;" scope="col">Menge</th>
            <th scope="col">Gesamtpreis</th>
            <th scope="col">Aktion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <th scope="row">Gesamtpreis</th>
            <th>5,00€</th>
            <th></th>
          </tr>
          <tr>
            <th><select class="form-select" style="height: 100%;">
                <option selected>Test</option>
            </select></th>
            <th scope="row"><input class="form-control" type="number"/></th>
            <th><button class="btn btn-success">Hinzufügen</button></th>
          <th></th>
          </tr>
        </tbody>
      </table>
</div>
</div>
</body>