.card {
  width: 24.4%;
  margin: 0.3%;
  background-color: white;
  display: inline-block;
}
.cardTitleBox {
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.cardButtonArea {
  text-align: center;
}
.cardButton {
  width: 40%;
}
body {
  background-color: green;
}
#tournamentWinnerDiv {
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 15px;
  width: 90%;
  margin-left: 5%;
}
#cardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
#toolbar {
  text-align: center;
}
#btnNextRound {
  width: 48.8%;
}
#divNextRound {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
