/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-orange, 600);
$my-app-secondary: mat-palette($mat-orange, 900);
$my-app-accent:  mat-palette($mat-orange, 900);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-secondary, $my-app-warn);
@include angular-material-theme($my-app-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root{
    --primary: #A6360D;
    --primary-light: #D94711;
    --primary-accent: #D2D90D;
    --primary-dark: #732509;
    --primary-background: #D9D9D9;
}