/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();
$my-primary: mat.define-palette(mat.$grey-palette, 900);
$my-accent: mat.define-palette(mat.$green-palette, 800);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$grey-palette,100);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));
@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: 'Work Sans', sans-serif; }
